@{
    ViewData["Title"] = "MVC Matching Game";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <style>
        .container {
            width: 400px;
        }

        .button {
            width: 100px;
            height: 100px;
            font-size: 50px;
        }
    </style>
</head>
<body>

<div class="text-center">
    <h1 class="display-4">TSD2491 – Oblig1</h1>
</div>
    <div class="container">
        <div class="row">
            @for (var animalNumber = 0; animalNumber < Model.shuffledEmoji.Count; animalNumber++)
            {
                var animal = Model.shuffledEmoji[animalNumber];
                var uniqueDescription = $"Button #{animalNumber}";
                <div class="col-3">
                    @using (Html.BeginForm("ButtonClick", "Home", FormMethod.Post))
                    {
                        <input type="hidden" name="animal" value="@animal" />
                        <input type="hidden" name="description" value="@uniqueDescription" />
                        <input type="submit" value="@animal" class="button" />
                    }
                </div>
            }
        </div>
